@CHARSET "UTF-8";

@CHARSET "UTF-8";

#table{
	margin: 0 auto;
	margin-bottom:30px;
	width: 900px;
	border: 4px solid #888888;
	border-radius: 8px;
	padding: 15px;
}

#title{
	border-bottom: 1px solid #888888;
}

#table th{
	background-color: #edd200;
	border-radius: 6px;
	height: 30px;
	width: 70px;
}

#table td{
/* 	text-align: center; */
	color: #4d4d4d;
}


#table td a{
	text-decoration: none;
	color: #4d4d4d;
}


#table tr:Hover{
	background-color: #edd200;
}

#btnGap, #attrGap{
	height:20px;
}

#writeBtn {
	display: block;
	background-color: #969696;
	border: 1px solid #dedede;
	cursor: pointer;
	padding: 10px;
	margin: 0 auto;
	float: right;
}

#writeBtn:hover {
	background-color: #edd200;
	border-radius: 6px;
}

#searchDiv{
	margin-left: 650px;
	margin-bottom: 20px;
	position:relative;
	}
	
#pageMove{
	width: 200px;
	margin: 0 auto;
	}