/*
@CHARSET "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

html, body{
	width: 100%;
	height: 100%;
	margin: 0 auto;
	background: #F7F5F0;
	font-family: "Nanum Gothic", sans-serif;
}

header {
	background: rgb(0,205,205);
	float: left;
	margin-bottom: 10px;
	width: 100%;
	height: 60px;
}

#main_title {
	float: left;
	padding: 10px 10px 10px 0;
	margin-left: 150px;
}

#main_title span {
	font-family: 'Hanna', sans-serif;
	font-size: 30pt;
	color: white;
}

#main_title a {
	text-decoration: none;
}

#main_title a:visited {
	color: white;
	text-decoration: none;
}

#main_nav {
	padding: 20px;
	float: left;
	text-align: left;
}
	#main_nav a {
		color: white;
		text-decoration: none;
		margin: 0 5px;
		font-size: 12pt;
		font-weight: bolder;
	}
	
	#main_nav a:visited {
		color: white;
	}
	
	#login_div {
		float: right;
		padding: 20px;
		margin-right: 140px;
	}
	
	#login_div a {
		text-decoration: none;
	}
	
	#login_div a:visited {
		text-decoration: none;
	}
		
	#login {
		text-align: right;
		font-weight: bolder;
		color: white;
		margin-right: 50px;
	}
	
	#logout {
		text-align: right;
		font-weight: bolder;
		color: white;
		margin-right: 50px;
	}
	
	#logoutBtn {
		cursor: pointer;
	}
	
	#login_img {
		width: 34px;
		height: 34px;
		border-radius: 50%;
		border: 3px solid #ffffff;
		position: absolute;
		top: 12px;
		right: 160px;
	}

#content_wrapper {
	text-align: center;
	clear: both;
	min-height: 723px;
	width: 980px;
	margin: 0 auto;
	padding-top: 50px;
	padding-bottom: 50px;
}

footer {
	text-align: center;
	color: #808184;
	background: #E1E0DB;
	width: 100%;
	height: 25px;
	font-weight: bold;
	padding-top: 5px;
}
*/