@CHARSET "UTF-8";

.sche_table{
	font-size: 11pt;
}
/* 제목 ...으로 줄임 */
#sche_content{
	display:block;
	text-align: left; 
	float:left; 
	text-decoration:none; 
	max-width:110px; 
	white-space:nowrap; 
	text-overflow:ellipsis; 
	overflow:hidden;
}

#sche_content a{
	text-decoration: none;	
}

#sche_content a:hover{
	text-decoration: underline;
}
#submit_Btn{
	width: 70px;
	height: 22px;
	cursor: pointer;
	background-color: #cc3300;
	color: white;
	text-align: center;
}

h1{
	text-align: center;
}
