@CHARSET "UTF-8";

#writeBody {
	width:1000px;
	font-size: 12px;
}

/* input과 textarea를 맞추기 위함 */
#scheduleWriteField input {
	width:730px;
}
#writeUl textarea {
	width: 730px;
	height: 300px;
}
#scheduleWriteField {
	margin: 15px 10px;
}

#scheduleWriteField ul li {
	list-style:none; 
	margin: 15px 0;	
}

#writeLi2 input{
	width: 150px;
}

#scheduleWriteField label {
	width:110px;
	color:#888888;
	font-weight:bold;		
	float:left;
	text-align:right;
	margin-right:10px;
}

#writeUl {
	list-style: none;
	padding: 0;
}
#writeUl input:focus, #writeUl textarea:focus {
	background-color: #fffce6;
}

#Btn{
	text-align: center;
}
#submit_Btn{
	width: 55px;
	height: 24px;
	cursor: pointer;
	background-color: #00284d;
	color: white;
}
#cancer_Btn{
	width: 55px;
	height: 25px;
	cursor: pointer;
	background-color: white;
	color: #00284d;
}
h1{
	text-align: center;
}
.remaining{
	margin-left: 120px;
}