@CHARSET "UTF-8";

#table{
	margin: o auto;
	margin-bottom:10px;
	height: auto;
	width: 500px;
	border-radius: 8px;
	border: 4px solid #888888;
	padding:15px;
	margin-top: 40px;
	padding: 30px;
}

#table td{
	width: 70px;
}
#table tr{
	text-align: left;
}

#table th{
	width: 100px;
}

#btn{
	float:right;
	background-color: #969696;
	border: 1px solid #dedede;
	cursor: pointer;
	padding: 10px;
	margin: 0 auto;
}

#btnDiv{
	padding-top:10px;
	margin-right:270px;
}


#btn:hover{
	background-color: #eed200;
}