@CHARSET "UTF-8";

body {
	
}

#messageTable, #messageTr {
	margin: 0 auto;
	font-size: 10.5pt;
}

#messageTh, #messageTd, #messageTdTitle {
	padding: 10px;
	border: 1px solid #888888;
	width: auto;
}

#messageThTitle {
	padding: 10px;
	border: 1px solid #888888;
	width: 700px;
/* 	overflow: hidden;  */
}

#messageTdTitle:hover {
	background: #d0d0d0;
}
#messageTdTitle a{
/* 		텍스트 링크의 밑줄 없애기 */
	text-decoration: none;	
	color: black;
}

/*  버튼 */
#messageBtn {
	display: block;
	background-color: #969696;
	border: 1px solid #dedede;
	cursor: pointer;
	padding: 10px;
	margin: 0 auto;
	float: right;
}
#messageBtnA a{
	text-decoration: none;	
}
	

#messageBtn:hover {
	background-color: #edd200;
}