@CHARSET "UTF-8";

#noticeTable, #noticeTr {
	margin: 0 auto;
	font-size: 10.5pt;
}

#noticeTr th, #noticeTr td {
	padding: 10px;
	border: 1px solid #888888;
	width: auto;
}

#noticeTr td {
	padding: 10px;
	border: 1px solid #888888;
	width: 950px;
}

/*  버튼 */
#noticeBtn {
	display: block;
	background-color: #969696;
	border: 1px solid #dedede;
	cursor: pointer;
	padding: 10px;
	margin: 0 auto;
	float: right;
}
#noticeBtnA  {
	text-decoration: none;	
}

#noticeBtn:hover {
	background-color: #edd200;
/* 	border: 1px solid #edd200; */
/* } */