@CHARSET "UTF-8";

#noticeBody {
	width:1000px;
	font-size: 10.5px;
}

#noticeWriteDiv {
	width:1000px;
	margin: 15px auto;
	padding:10px;
	border:1px solid #666;
	border-radius:10px;
	background:white;

}

/* input과 textarea를 맞추기 위함 */
#noticeWriteField input {
	width:730px;
}
#noticeUl textarea {
	width: 730px;
	height: 300px;
}
#noticeWriteField {
	margin: 15px 10px;
}

#noticeWriteField ul li {
	list-style:none; 
	margin: 15px 0;	
}


#noticeWriteField label {
	width:110px;
	color:#888888;
	font-weight:bold;		
	float:left;
	text-align:right;
	margin-right:10px;
}

#noticeUl {
	list-style: none;
	padding: 0;
}
#noticeUl input:focus, #noticeUl textarea:focus {
	background-color: #fffce6;
}

/*  버튼 */
#noticeWriteDiv button {
	display: block;
	background-color: #969696;
	border: 1px solid #dedede;
	cursor: pointer;
	padding: 10px;
	margin: 0 auto;
	float: right;
}

#noticeWriteDiv button:hover {
	background-color: #edd200;
 } 