@CHARSET "UTF-8";

.table_list {
	/* 	width: 90%; */
	font-size: 16px;
}

.table_list thead tr th {
	height: 35px;
	background: #808080;
	color: #fff;
	font-weight: bold;
}

.table_list tbody tr td {
	line-height: 35px;
	border-bottom: 1px solid #c3c3c3;
	text-align: center;
}

.table_list tbody tr td.num {
	font-size: 14px;
	color: #737373;
}

.table_list tbody tr td.title {
	text-align: left;
	width: 780px;
}

.table_list tbody tr td.title a {
	display: block;
	float: left;
	text-decoration: none;
	color: #191919;
	max-width: 780px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.table_list tbody tr td.title a:hover {
	text-decoration: underline;
}

#boardPage {
	text-align: center;
}

#Btn {
	text-align: center;
}

#list_Btn {
	width: 55px;
	height: 25px;
	cursor: pointer;
	background-color: #1a53ff;
	color: white;
}

#submit_Btn {
	width: 55px;
	height: 24px;
	cursor: pointer;
	background-color: #00284d;
	color: white;
}

h1 {
	text-align: center;
}